text {
    stroke: whitesmoke;
    fill: whitesmoke;
}
#date {
    font-size: 32;
}
#time {
    font-weight: bold;
    font-size: 100;
    font-family: "System-Bold";
    stroke: white;
    fill: white;
}
.stat {
    font-size: 25;
}
.tick {
    fill: fb-light-gray;
    opacity: 0.7;
    stroke-width: 1;
}

.steps {
    fill: fb-aqua;
}
.floors {
    fill: fb-peach;
}
.sleep {
    fill: fb-lavender;
}
.hr {
    fill: fb-red;
}
