.background {
    viewport-fill: black;
}

text {
    stroke: azure;
    fill: azure;
}
#date {
    font-size: 32;
}
#time {
    font-weight: bold;
    font-size: 100;
    font-family: "System-Bold";
}
.stat {
    font-size: 25;
}
